services:
  redis:
    image: redis:latest
    restart: always
    volumes:
      - redis_data:/data
    expose:
      - "6379"

  worker:
    build: ./taskexecutor
    depends_on:
      - redis
    environment:
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MB_HOST=${MB_HOST}
      - MB_PORT=${MB_PORT}

  api:
    build:
      context: ./server
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - MB_HOST=${MB_HOST}
      - MB_PORT=${MB_PORT}
      - APP_URL=${APP_URL}
      - APP_JWT_KEY=${JWT_KEY}
      - APP_ENVIRONMENT=PRODUCTION
      - GOOGLE_REDIRECT_URL=${GOOGLE_REDIRECT_URL}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    depends_on:
      - db
      - migrate
    expose:
      - "5000"

  client:
    build:
      context: ./client
    ports:
      - "443:443"
    volumes:
      - ${CERT_PATH}:/certs:ro
    depends_on:
      - api

  migrate:
    image: migrate/migrate
    volumes:
      - ./database/migrations:/migrations
    environment:
      - DB_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
    # The entrypoint waits for 'db' on port 5432 before running the migration
    entrypoint: >
      sh -c "while ! nc -z db 5432; do 
               echo 'Waiting for database...'; 
               sleep 1; 
             done; 
             /migrate -path=/migrations/ -database $$DB_URL up"
    depends_on:
      - db

  db:
    image: postgres:16.3-alpine
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"

  #prometheus:
  #  image: prom/prometheus
  #  volumes:
  #    - ./prometheus.yml:/etc/prometheus/prometheus.yml
  #  ports:
  #    - "9090:9090"

  #grafana:
  #  image: grafana/grafana
  #  ports:
  #    - "3001:3000" # 3000 is default, remap to avoid clash with app
  #  volumes:
  #    - grafana-data:/var/lib/grafana
  #  environment:
  #    - GF_SECURITY_ADMIN_PASSWORD=admin
  #  depends_on:
  #    - prometheus

  #otel-collector:
  #  image: otel/opentelemetry-collector-contrib:latest
   # command: ["--config=/etc/otel-collector-config.yaml"]
  #  volumes:
  #    - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
  #  ports:
  #    - "4317:4317"     # gRPC OTLP
  #    - "55681:55681"   # legacy HTTP
  #    - "8888:8888"     # metrics for Prometheus to scrape
  #    - "4318:4318"     # OTLP HTTP (optional)

volumes:
  postgres_data:
  redis_data:
