services:
  api:
    build:
      dockerfile: Dockerfile-dev
    volumes:
      - ./server:/app
      - go-mod-cache:/go/pkg/mod
      - go-build-cache:/root/.cache/go-build
    ports:
      - "5000:5000"
      - "2345:2345"
    
  client:
    build:
      dockerfile: Dockerfile-dev
    ports:
      - "8080:8080"
    volumes:
      - ./client:/app
      - /app/node_modules

  db:
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  go-mod-cache:
  go-build-cache:
