name: Run Docker Compose Commands

on:
  push:
    branches:
      - main

jobs:
  execute-docker-compose:
    runs-on: ubuntu-latest
    environment: production
    env:
      APP_URL: {{ secrets.APP_URL }}
      CERT_PATH: {{ secrets.CERT_PATH }}
      DB_HOST: {{ secrets.DB_HOST }}
      DB_NAME: {{ secrets.DB_NAME }}
      DB_PASSWORD: {{ secrets.DB_PASSWORD }}
      DB_PORT: {{ secrets.DB_PORT }}
      DB_USERNAME: {{ secrets.DB_USERNAME }}
      EMAIL_HOST: {{ secrets.EMAIL_HOST }}
      EMAIL_PASSWORD: {{ secrets.EMAIL_PASSWORD }}
      EMAIL_PORT: {{ secrets.EMAIL_PORT }}
      EMAIL_USERNAME: {{ secrets.EMAIL_USERNAME }}
      GOOGLE_CLIENT_ID: {{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: {{ secrets.GOOGLE_CLIENT_SECRET }}
      GOOGLE_REDIRECT_URL: {{ secrets.GOOGLE_REDIRECT_URL }}
      JWT_KEY: {{ secrets.JWT_KEY }}
      MB_HOST: {{ secrets.MB_HOST }}
      MB_PORT: {{ secrets.MB_PORT }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      
    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt install python3-paramiko
        sudo apt-get install -y docker-compose
      
    - name: Set up SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H 147.93.35.35 >> ~/.ssh/known_hosts

    - name: Execute Docker Compose Down
      run: |
        docker-compose -H "ssh://root@147.93.35.35" down --rmi all

    - name: Execute Docker Compose Up
      run: |
        docker-compose -H "ssh://root@147.93.35.35" up --build -d
